.document-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;

  .document-page-container {
    position: relative;
    pointer-events: none;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    img.page-image {
      pointer-events: auto;
      transform-origin: top center;
      max-width: 100%;
      height: auto;
    }

    annotation {
      pointer-events: auto;
    }
  }
}
