<div class="document-container">
  @for (page of document()?.pages; track page.pageNumber) {
    <div
      class="document-page-container"
      attr.data-page-number="{{page.pageNumber}}"
      [style.width.px]="(baseSizes()[page.pageNumber]?.width ?? 800) * zoom()"
      [style.height.px]="(baseSizes()[page.pageNumber]?.height ?? 1100) * zoom()"
    >
      <img
        class="page-image"
        [src]="page.imageUrl"
        [style.width.px]="(baseSizes()[page.pageNumber]?.width ?? 800) * zoom()"
        [style.height.px]="(baseSizes()[page.pageNumber]?.height ?? 1100) * zoom()"
        (load)="onImageLoad(page.pageNumber, $event)"
        (pointerdown)="addAnnotation(page.pageNumber, $event)"
        alt="page {{page.pageNumber}}"
      />

      @if (containerRects()) {
        @for (annotation of getPageAnnotations(page.pageNumber); track annotation.id) {
          <annotation
            [annotation]="annotation"
            [zoom]="zoom()"
            [containerRect]="containerRects()[page.pageNumber]"
            (onDelete)="deleteAnnotation($event)"
            (isEditing)="isEditing($event)"
            (onMove)="onAnnotationMove($event)"
            (onUpdate)="onAnnotationUpdate($event)"
          ></annotation>
        }
      }
    </div>
  }
</div>
